@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin for-tablet-only {
  @media (min-width: 600px) and (max-width: 768px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
}

.c-sliding-pagination__list {
  display: flex;
}

.c-sliding-pagination__list-element {
  @apply text-gray-400;
  @apply p-1;
  @apply mr-2;
}
.c-sliding-pagination__list-element--active {
  @apply text-black;
}
